@import '../assets/styles/variables.less';

.AddTracker {
  margin-bottom: 25px;
  padding: 0 15px;

  @media screen and (min-width: 560px) {
    padding: 0;
  }

  .frame {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 47px;
    border: 1px solid dimgray;
    border-radius: 999px;
    padding: 0 2px 0 16px;
  }

  .field {
    flex-grow: 1;
    width: auto;
    border: none;
    background-color: transparent;
    outline: none;
    color: dimgray;
    font-size: 17px;

    &::placeholder {
      color: silver;
    }
  }

  .btn {
    all: unset;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    cursor: pointer;
    color: limegreen;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      color: @activeBtnColor;
    }

    .icon {
      font-size: 41px;
    }
  }
}
